In [1]:
import mysql.connector
import _mysql
import MySQLdb

ModuleNotFoundError: No module named 'mysql'

In [2]:
db=_mysql.connect("127.0.0.1","root","umer","sys")
db1=MySQLdb.connect("127.0.0.1","root","umer","sys")

In [3]:
c=db1.cursor()

In [4]:
id=6
name="yum"
city="jafagh"
print(id)
print(name)
print(city)

6
yum
jafagh

In [ ]:
name="hizb"
city="hadid"
id=5

In [7]:
#c.execute("""INSERT INTO new1.table1 (id, name, city) VALUES (%s, %s, %s)""",(id,name,city,))
#c.execute("""select * from new1.table1""")
id=6
c.execute("""Select * FROM new1.table1 where id=%s""",(id,))
#c.execute("""Select * FROM new1.table1 where name=%s and city=%s""",(name,city,))

1

In [8]:
#print(c.fetchone())
c.fetchone()
#c.store_result()

(6, 'yum', 'jafagh')

In [10]:
db1.commit()

# Example of how to insert new values:
conn.query("""INSERT INTO mytable VALUES ('foo3', 'bar2')""")
conn.commit()

# Example of how to fetch table data:
conn.query("""SELECT * FROM mytable""")
result = conn.store_result()
for i in range(result.num_rows()):
    print(result.fetch_row())

In [11]:
db.query("SELECT * FROM new1.table1  ;")
result = db.store_result()
for i in range(result.num_rows()):
    print(result.fetch_row())

(('1', b'ahsan', b'malir'),)
(('2', b'farhan', b'model colony'),)
(('3', b'amjaf', b'gulshan'),)
(('4', b'hizb', b'hadid'),)
(('5', b'khan', b'karachi'),)
(('6', b'yum', b'jafagh'),)

In [ ]:
id=6
name="umar"
city="karachi"
print(id)
print(name)
print(city)

In [ ]:
db.query("""INSERT INTO `new1`.`table1` (`id`, `name`, `city`) VALUES (%d, %s, %s);"),(id,name,city)

In [ ]:
c=db.cursor()

In [ ]:
r=db.store_result()
# ...or...
#r=db.use_result()

In [ ]:
r.fetch_row()

c=db.cursor()
max_price=5
c.execute("""SELECT spam, eggs, sausage FROM breakfast
          WHERE price < %s""", (max_price,))

In [ ]:
for row in r.fetch_row():
    print(row)

In [ ]:
c=db.cursor()
c.execute("SELECT * FROM new1.table1 ;")
for row in c:
    print(row)

In [ ]:
import pymysql.cursors

In [ ]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='umer',
                             db='sys',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)